.logotype{ 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal; 
    display: flex;
    align-items: center;
}


header{
    width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instIcon{
    width: 30px;
    height: 30px;
	transition: 0.5s;
}

.instIcon:hover{
    transform: scale(1.2);
}

.contactsList{
    display: flex;
    list-style: none;
}

.contactItem{
    margin-right: 30px;
}