.logotype{ 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal; 
    display: flex;
    align-items: center;
}

footer{
        background-color: rgb(74, 110, 94);
        opacity: 0.8;
}

.instIcon{
    width: 30px;
    height: 30px;
}

.contactsList{
    display: flex;
    list-style: none;
}

.contactItem{
    margin-right: 30px;
}

.footerSection{
    height: 200px;
    width: 1600px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}